<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <h1>Create a new listing</h1>
    <form method="POST" action="/listings">
        <input name="title" placeholder="Write title" type="text">
        <br> <br>
        <textarea name="description" placeholder="Write description"></textarea>
        <br> <br>
        <input name="image" placeholder="Enter image" type="text">
        <br> <br>
        <input name="price" placeholder="Enter price" type="number">
        <br> <br>
        <input name="location" placeholder="Enter location" type="text">
        <br> <br>
        <input name="country" placeholder="Enter country" type="text">
        <button>Add</button>
    </form>
</body>
</html>